
## CURRENTLY NOT USED
## might reduce memory overhead, since currently, we have implementations in
## writable and read-only impl

  @Override
  public String[] _vmf_getPropertyNames() {
    return this.mutableObject._vmf_propertyNames;
  }

  @Override
  public int[] _vmf_getPropertyTypes() {
    return this.mutableObject._vmf_propertyTypes;
  }

  @Override
  public int[] _vmf_getIndicesOfPropertiesWithModelTypes() {
    return this.mutableObject._vmf_propertiesWithModelTypesIndices;
  }

  @Override
  public Object getPropertyValueById(int propertyId) {
    return this.mutableObject.getPropertyValueById(propertyId);
  }
