package ${type.implementation.packageName};

// vmf imports
import ${VMF_RUNTIME_API_PKG}.${VMF_CORE_PKG_EXT}.*;
import ${VMF_RUNTIME_API_PKG}.${VMF_CORE_PKG_EXT}.internal.*;
import ${VCOLL_PKG}.*;
import ${type.packageName}.*;
import java.beans.PropertyChangeSupport;
import java.beans.PropertyChangeListener;
import java.util.Objects;
import java.util.Arrays;

// property types imports
#foreach( $import in $type.implementation.imports )
import $import;
#end

// implementation

/**
 * An implementation of the immutable model object {@code $type.fullTypeName}.
 */
@SuppressWarnings("deprecation")
public class $type.implementation.typeName implements $type.typeName, VObject, VObjectInternal, VCloneableInternal {

  // --------------------------------------------------------------------
  // --- declaration of member variables
  // --------------------------------------------------------------------

#parse("${VMF_TEMPLATE_PATH}impl/declare-props.vm")

  // referenced by
  private final java.util.List<VObject> referencedBy = new java.util.ArrayList<>();
  // references
  private final java.util.List<VObject> references = new java.util.ArrayList<>();

  // --------------------------------------------------------------------
  // --- private constructor
  // --------------------------------------------------------------------

  private ${type.implementation.typeName}() {
    // ...
  }

  // --------------------------------------------------------------------
  // --- public getter methods for accessing properties
  // --------------------------------------------------------------------

##parse("${VMF_TEMPLATE_PATH}impl/getter.vm")
#foreach( $prop in ${type.implementation.properties} )
  @Override
  public $prop.getterDeclaration {
    return this.${prop.name};
  }
#end##foreach property

  // --------------------------------------------------------------------
  // --- Object methods (equals(), toString() etc.)
  // --------------------------------------------------------------------

#parse("${VMF_TEMPLATE_PATH}impl/to-string.vm")

#parse("${VMF_TEMPLATE_PATH}impl/equals.vm")

  public $type.typeName clone() {
    // we don't need to perform actual cloning since this is an
    // immutable type
    return this;
  }

#parse("${VMF_TEMPLATE_PATH}impl/builder.vm")

  // --------------------------------------------------------------------
  // --- Utility methods
  // --------------------------------------------------------------------

  @Override
  public void addPropertyChangeListener(PropertyChangeListener l) {
      // don't do anything. immutable types don't publish change events
  }
  @Override
  public void removePropertyChangeListener(PropertyChangeListener l) {
      // don't do anything. immutable types don't publish change events
  }

  private boolean _vmf_hasListeners() {
      return false;
  }

  private void _vmf_firePropertyChangeIfListenersArePresent() {
     // don't do anything. immutable types don't publish change events
  }

  @Override
  public ${type.typeName} _vmf_deepCopy(
    java.util.IdentityHashMap<Object,Object> identityMap) {
    return this;
  }

  @Override
  public ${type.typeName} _vmf_shallowCopy(
    java.util.IdentityHashMap<Object,Object> identityMap) {
    return this;
  }

  // --------------------------------------------------------------------
  // --- Public VMF API
  // --------------------------------------------------------------------

 private VMF vmf;

  @Override
  public VMF vmf() {
    if(vmf==null) {
      vmf = new VMF() {
        public Content content() {
          return new Content() {
            public java.util.Iterator<VObject> iterator() {
              return VIterator.of(${type.implementation.typeName}.this);
            }
            public java.util.stream.Stream<VObject> stream() {
              return VIterator.of(${type.implementation.typeName}.this).asStream();
            }

            public java.util.Iterator<VObject> iterator(VIterator.IterationStrategy strategy) {
              return VIterator.of(${type.implementation.typeName}.this, strategy);
            }
            public java.util.stream.Stream<VObject> stream(VIterator.IterationStrategy strategy) {
              return VIterator.of(${type.implementation.typeName}.this, strategy).asStream();
            }

            @Override
            public ${type.typeName} deepCopy() {
              java.util.IdentityHashMap<Object,Object> identityMap =
              new java.util.IdentityHashMap<>();
              return _vmf_deepCopy(identityMap);
            }

            @Override
            public ${type.typeName} shallowCopy() {
              // we don't copy anything since this is an immutable type
              return ${type.implementation.typeName}.this;
              }
            };
          }

          private ChangesImpl changes;

          public Changes changes() {
            if (changes==null) {
              changes = new ChangesImpl();
              changes.setModel(${type.implementation.typeName}.this);
            }

            return changes;
          }
        }; // end vmf
      } // end if null

      return vmf;
  }

  @Override
  public ${type.typeName} asReadOnly() {
    return this;
  }

  // --------------------------------------------------------------------
  // --- Reflection methods
  // --------------------------------------------------------------------

  // type id for improved reflection performance
  public static final int _VMF_TYPE_ID = $type.typeId;

  @Override
  public int _vmf_getTypeId() {
    return _VMF_TYPE_ID;
  }

#set($readOnlyVal=true)
#parse("${VMF_TEMPLATE_PATH}reflection/reflection.vm")

  // --------------------------------------------------------------------
  // --- Id related methods
  // --------------------------------------------------------------------

  // id management is currently not part of VMF (TODO how should we support this?)

  // --------------------------------------------------------------------
  // --- Reference methods
  // --------------------------------------------------------------------

  @Override
  public java.util.List<VObject> _vmf_referencedBy() { return this.referencedBy;}
  @Override
  public java.util.List<VObject> _vmf_references() { return this.references;}

}
