package ${packageName};

// vmf imports
import ${VMF_RUNTIME_API_PKG}.${VMF_CORE_PKG_EXT}.*;


public interface ModelVisitor<T> {

  default T visit(VObject root) {
    //
  }

#foreach($type in $model.types)

  T visit${type.typeName}($type.typeName object);
#end ## for-each type

}
