package ${packageName};

// vmf imports
import ${VMF_RUNTIME_API_PKG}.${VMF_CORE_PKG_EXT}.*;

// property types imports
#foreach( $import in $type.imports )
import $import;
#end

// interface

/**
 * A representation of the model object {@code $type.fullTypeName}.
 */
public interface VObjectInternal extends VObject {

  /**
   * Returns the type id of this class.
   */
   int _vmf_getTypeId();

  /**
   * Returns the names of the properties defined in this type/object.
   */
   public String[] _vmf_getPropertyNames();

  /**
   * Returns the types of the properties defined in this type/object.
   */
   public int[] _vmf_getPropertyTypes();

   /**
    * Returns values of properties by id (calls getter methods).
    */
   public Object _vmf_getPropertyValueById(int propertyId);

  /**
   * Returns the indices of all properties with model types or collections
   * that contain model instances.
   */
   public int[] _vmf_getIndicesOfPropertiesWithModelTypes();

  /**
   * Returns the indices of all collection properties with model element types.
   */
   public int[] _vmf_getIndicesOfPropertiesWithModelElementTypes();

   /**
    * Returns the indices of all collection properties with model element types
    * or collections that contain model instances.
    */
   public int[] _vmf_getIndicesOfPropertiesWithModelTypeOrElementTypes();

}
