package ${packageName};

// vmf imports
import ${VMF_RUNTIME_API_PKG}.${VMF_CORE_PKG_EXT}.*;

// property types imports
#foreach( $import in $type.imports )
import $import;
#end

// interface

/**
 * A representation of the model object {@code $type.fullTypeName}.
 */
interface VCloneableInternal  {

  /**
   * Performs a deep copy (takes care of references and cycles).
   */
  VObject _vmf_deepCopy(java.util.IdentityHashMap<Object,Object> identityMap);

  /**
   * Performs a shallow copy (takes care of references and cycles).
   */
  VObject _vmf_shallowCopy(java.util.IdentityHashMap<Object,Object> identityMap);

}
