package ${VMF_CORE_API_PKG}.${VMF_VMFUTIL_PKG_EXT};

import java.util.*;

public class VCollectionUtil {
    public static <T> List<T> asReadOnlyList(List<T> list) {

        // TODO do we need deep mutability? 12.01.2017
        return java.util.Collections.unmodifiableList(list);//
    }

//  TODO currently (07.01.2017), only containment lists are supported
//    public static <T> Set<T> asContainmentSet(Set<T> children, String parent) {
//        return null;
//    }
//
//    public static <V,T> Map<V,T> asContainmentMap(Map<V,T> children, String parent) {
//        return null;
//    }
}
