package ${VMF_CORE_API_PKG}.${VMF_VMFUTIL_PKG_EXT};

import java.util.*;

public class VContainmentUtil {
    public static <T> List<T> asContainmentList(List<T> children, String parent) {
        return null;
    }

//  TODO currently (07.01.2017), only containment lists are supported
//    public static <T> Set<T> asContainmentSet(Set<T> children, String parent) {
//        return null;
//    }
//
//    public static <V,T> Map<V,T> asContainmentMap(Map<V,T> children, String parent) {
//        return null;
//    }
}
