#*
 * Copyright 2017-2019 Michael Hoffer <info@michaelhoffer.de>. All rights reserved.
 * Copyright 2017-2019 Goethe Center for Scientific Computing, University Frankfurt. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * If you use this software for scientific research then please cite the following publication(s):
 *
 * M. Hoffer, C. Poliwoda, & G. Wittum. (2013). Visual reflection library:
 * a framework for declarative GUI programming on the Java platform.
 * Computing and Visualization in Science, 2013, 16(4),
 * 181–192. http://doi.org/10.1007/s00791-014-0230-y
 *#
#if(${prop.containmentInfo.containmentType}=="CONTAINER")
#set($opposite = ${prop.containmentInfo.opposite})
  /**
   * Returns the value of the '<em><b>${prop.name}</b></em>' container reference.
   *
   * It is bidirectional and its opposite is '{@link ${prop.typeName}#${opposite.getterPrefix}${opposite.nameWithUpperCase}() <em>${opposite.name}</em>}'.
   *
   * <!-- vmf-begin-model-doc -->
#if(${prop.documented})
   * <p>${prop.customDocumentation}</p>
#else
   * <!-- NO CUSTOM DOCUMENTATION PROVIDED! -->
   * <!-- NOTE: use the @Doc("your doc") annotation to provide a custom documentation -->
#end
   * <!-- vmf-end-model-doc -->
   *
   * @return the value of the '<em><b>${prop.name}</b></em>' container reference.
   * @see ${type.typeName}#set${prop.nameWithUpperCase}($prop.typeName)
   */
#elseif (${prop.containmentInfo.containmentType}=="CONTAINED")
#if(${prop.propType}=="COLLECTION")
#set($opposite = ${prop.containmentInfo.opposite})
  /**
   * Returns the value of the '<em>${prop.name}</em>' containment list.
   *
   * It is bidirectional and its opposite is '{@link ${prop.genericTypeName}#${opposite.getterPrefix}${opposite.nameWithUpperCase}() <em>${opposite.name}</em>}'.
   *
   * <!-- vmf-begin-model-doc -->
#if(${prop.documented})
   * <p>${prop.customDocumentation}</p>
#else
   * <!-- NO CUSTOM DOCUMENTATION PROVIDED! -->
   * <!-- NOTE: use the @Doc("your doc") annotation to provide a custom documentation -->
#end
   * <!-- vmf-end-model-doc -->
   *
   * @return the value of the '<em>${prop.name}</em>' containment list.
   */
#else ## if collection
  /**
   * Returns the value of the '<em><b>${prop.name}</b></em>' containment reference.
   *
   * It is bidirectional and its opposite is '{@link ${prop.typeName}#${prop.getterPrefix}${opposite.nameWithUpperCase}() <em>${opposite.name}</em>}'.
   *
   * <!-- vmf-begin-model-doc -->
#if(${prop.documented})
   * <p>${prop.customDocumentation}</p>
#else
   * <!-- NO CUSTOM DOCUMENTATION PROVIDED! -->
   * <!-- NOTE: use the @Doc("your doc") annotation to provide a custom documentation -->
#end
   * <!-- vmf-end-model-doc -->
   *
   * @return the value of the '<em><b>${prop.name}</b></em>' containment reference.
   * @see ${type.typeName}#set${prop.nameWithUpperCase}($prop.typeName)
   */
#end## if collection
#elseif(${prop.isCrossRefProperty()})##          ## if container / contained
#set($opposite = ${prop.referenceInfo.opposite})
#if(${prop.propType}=="COLLECTION") ## if collection
  /**
   * Returns the value of the '<em>${prop.name}</em>' cross reference list.
   *
   * It is bidirectional and its opposite is '{@link ${prop.genericTypeName}#${opposite.getterPrefix}${opposite.nameWithUpperCase}() <em>${opposite.name}</em>}'.
   *
   * <!-- vmf-begin-model-doc -->
#if(${prop.documented})
   * <p>${prop.customDocumentation}</p>
#else
   * <!-- NO CUSTOM DOCUMENTATION PROVIDED! -->
   * <!-- NOTE: use the @Doc("your doc") annotation to provide a custom documentation -->
#end
   * <!-- vmf-end-model-doc -->
   *
   * @return the value of the '<em>${prop.name}</em>' containment list.
   */
#else##                               ## if collection
  /**
   * Returns the value of the '<em><b>${prop.name}</b></em>' cross reference.
   *
   * It is bidirectional and its opposite is '{@link ${prop.typeName}#${prop.getterPrefix}${opposite.nameWithUpperCase}() <em>${opposite.name}</em>}'.
   *
   * <!-- vmf-begin-model-doc -->
#if(${prop.documented})
   * <p>${prop.customDocumentation}</p>
#else
   * <!-- NO CUSTOM DOCUMENTATION PROVIDED! -->
   * <!-- NOTE: use the @Doc("your doc") annotation to provide a custom documentation -->
#end
   * <!-- vmf-end-model-doc -->
   *
   * @return the value of the '<em><b>${prop.name}</b></em>' cross reference.
   * @see ${type.typeName}#set${prop.nameWithUpperCase}($prop.typeName)
   */
#end##                                ## if collection
#elseif(${prop.propType}=="COLLECTION"       )## ## if container / contained
  /**
   * Returns the value of the '<em>${prop.name}</em>' property.
   *
   * <!-- vmf-begin-model-doc -->
#if(${prop.documented})
   * <p>${prop.customDocumentation}</p>
#else
   * <!-- NO CUSTOM DOCUMENTATION PROVIDED! -->
   * <!-- NOTE: use the @Doc("your doc") annotation to provide a custom documentation -->
#end
   * <!-- vmf-end-model-doc -->
   *
   * @return the value of the '<em>${prop.name}</em>' property.
   */
#else## if collection
  /**
   * Returns the value of the '<em>${prop.name}</em>' property.
   *
   * <!-- vmf-begin-model-doc -->
#if(${prop.documented})
   * <p>${prop.customDocumentation}</p>
#else
   * <!-- NO CUSTOM DOCUMENTATION PROVIDED! -->
   * <!-- NOTE: use the @Doc("your doc") annotation to provide a custom documentation -->
#end
   * <!-- vmf-end-model-doc -->
   *
   * @return the value of the '<em>${prop.name}</em>' property.
#if(!$type.immutable)
   * @see ${type.typeName}#set${prop.nameWithUpperCase}($prop.typeName)
#end## if type is not immutable
   */
#end## if container / contained
$prop.typeName ${prop.getterPrefix}${prop.nameWithUpperCase}();
