#*
 * Copyright 2016-2017 Michael Hoffer <info@michaelhoffer.de>. All rights reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * If you use this software for scientific research then please cite the following publication(s):
 *
 * M. Hoffer, C. Poliwoda, & G. Wittum. (2013). Visual reflection library:
 * a framework for declarative GUI programming on the Java platform.
 * Computing and Visualization in Science, 2013, 16(4),
 * 181–192. http://doi.org/10.1007/s00791-014-0230-y
 *#
package $type.clzzPackageName;

import ${type.packageName}.*;
import org.mism.modelgen.api.*;
import java.beans.PropertyChangeSupport;
import ${type.typeName};
#foreach( $import in $type.imports )
import $import;
#end

public class $type.clzzName implements $type.simpleName, Clonable<$type.simpleName>, Mutable {

#foreach( $prop in $type.properties )
#if($prop.containedType)
#if($prop.collection)
    ContainedList<$type.simpleName,${prop.containedType}> $prop.nameCc = new ContainedList<$type.simpleName,${prop.containedType}>("${prop.name}", this);
#else
    // contained property
    $prop.declaration $prop.nameCc;
#end
#else
#if($prop.collection)
    ObservableList<${prop.collectionType}> $prop.nameCc = new ObservableList<${prop.collectionType}>("${prop.name}", getChangeSupport());
#else
    $prop.declaration $prop.nameCc;
#end
#end
#end

#if ($type.requiredCount > 0)
    public ${type.clzzName}(##
#foreach( $prop in $type.required )$prop.declaration _$prop.nameCc##
#if ($velocityCount < ${type.requiredCount}), ##
#end
#end) {
#foreach( $prop in $type.required )
       this.${prop.nameCc} = _${prop.nameCc};
#end
    }
#end
 
    public $type.clzzName () {}

#foreach ( $prop in $type.properties )

#parse("eu/mihosoft/vmf/vmtemplates/class_setter.vm")


#parse("eu/mihosoft/vmf/vmtemplates/class_getter.vm")

#end

#parse("eu/mihosoft/vmf/vmtemplates/class_clone.vm")


#parse("eu/mihosoft/vmf/vmtemplates/class_equals.vm")


#if($type.contained)
#parse("eu/mihosoft/vmf/vmtemplates/class_containedimpl.vm")

#end

#parse("eu/mihosoft/vmf/vmtemplates/class_mutable.vm")

#parse("eu/mihosoft/vmf/vmtemplates/class_tostring.vm")

}