    // start Contained implementation
    
    ${type.container.simpleName} parent;
    
    public void setParent(${type.container.simpleName} _parent)
    {
       this.parent = _parent;
    }
    
    public ${type.container.simpleName} getParent()
    {
       return parent;
    }
    
    // end Contained implementation