    // start Mutable implementation
    
    PropertyChangeSupport pcs;
    boolean changed = false;
    
    public PropertyChangeSupport getChangeSupport()
    {
        return pcs==null?pcs = new PropertyChangeSupport(this):pcs;
    }
    
    // end mutable implementation
