// --------------------------------------------------------------------
// --- Builder methods
// --------------------------------------------------------------------

  public static interface Builder {

#foreach( $prop in ${type.implementation.properties} )
###if($type.immutable || $prop.propType != "COLLECTION")
    /**
     * Sets the '<em><b>${prop.name}</b></em>' property of this builder.
     * @param ${prop.name} value to set
     * @return this builder
     */
    public Builder with${prop.nameWithUpperCase}(${prop.typeName} ${prop.name});
###end## if type is immutable or property is no collection
#end##end foreach property

    /**
     * Defines whether to append collections rather than replacing them in the
     * {@link #[[#]]#applyFrom($type.typeName)} and {@link #[[#]]#applyTo($type.typeName)} methods.
     * @param value that indicates whether to append collections
     * @return this builder
     */
    public Builder appendCollections(boolean value);

    /**
     * Builds a new '{@link $type.fullTypeName <em><b>${type.typeName}</b></em>}' instance.
     * @return a new '{@link $type.fullTypeName <em><b>${type.typeName}</b></em>}' instance
     */
    public $type.typeName build();

    /**
     * Applies all properties from the specified object to this builder.
     * @param o object to apply properties from
     * @return this builder
     * @see #[[#]]#applyTo($type.typeName)
     */
    public Builder applyFrom($type.typeName o);

#if(!$type.immutable)
    /**
     * Applies all properties from this builder to the specified object.
     * @param o object to apply properties to
     * @return this builder
     * @see #[[#]]#applyFrom($type.typeName)
     */
    public Builder applyTo($type.typeName o);
#end## if type is not immutable

  } // end class Builder

  /**
   * Returns a new builder for creating a '{@link $type.fullTypeName <em><b>${type.typeName}</b></em>}' instance.
   * @return a new builder for creating a '{@link $type.fullTypeName <em><b>${type.typeName}</b></em>}' instance
   */
  static Builder newBuilder() {
    try {#set ( $dollar_sign = "$")
      Class<?> cls = Class.forName("${type.implementation.packageName}.${type.implementation.typeName}${dollar_sign}Builder${VMF_IMPL_CLASS_EXT}");
      java.lang.reflect.Constructor constructor = cls.getConstructor();
      constructor.setAccessible(true);
      return (Builder) constructor.newInstance();
    } catch (ClassNotFoundException ex) {
      java.util.logging.Logger.getLogger(${type.typeName}.class.getName()).log(java.util.logging.Level.SEVERE, null, ex);
    } catch (InstantiationException ex) {
      java.util.logging.Logger.getLogger(${type.typeName}.class.getName()).log(java.util.logging.Level.SEVERE, null, ex);
    } catch (IllegalAccessException ex) {
      java.util.logging.Logger.getLogger(${type.typeName}.class.getName()).log(java.util.logging.Level.SEVERE, null, ex);
    }  catch (NoSuchMethodException ex) {
      java.util.logging.Logger.getLogger(${type.typeName}.class.getName()).log(java.util.logging.Level.SEVERE, null, ex);
    } catch (SecurityException ex) {
      java.util.logging.Logger.getLogger(${type.typeName}.class.getName()).log(java.util.logging.Level.SEVERE, null, ex);
    } catch (IllegalArgumentException ex) {
      java.util.logging.Logger.getLogger(${type.typeName}.class.getName()).log(java.util.logging.Level.SEVERE, null, ex);
    } catch (java.lang.reflect.InvocationTargetException ex) {
      java.util.logging.Logger.getLogger(${type.typeName}.class.getName()).log(java.util.logging.Level.SEVERE, null, ex);
    }

    return null;
  } // end newBuilder()
