## we don't support setters for collection types
#if(${prop.propType}!="COLLECTION" && !${prop.getterOnly})
 /**
  * Sets the value of the '<em>${prop.name}</em>' property.
  *
  * <!-- vmf-begin-model-doc -->
  * <!-- vmf-end-model-doc -->
  *
  * @param $prop.name the value to set
  * @see ${type.typeName}#${prop.getterPrefix}${prop.nameWithUpperCase}()
  */
  public $prop.setterDeclaration;
#end
