#if($prop.propType == "COLLECTION" && !$prop.contained && !$prop.crossRefProperty)##      COLLECTION PROP
    // this property holds a collection and is not marked as 'contained'

    // perform lazy initialization
    if(this.__vmf_prop_$prop.name==null) {
      this.__vmf_prop_$prop.name = ${VCOLL_PKG}.VList.newInstance(__vmf_get_prop_${prop.name}__vmf_RawList());

###if($prop.type||$prop.genericType)
###end## if is model type
    } // end of "lazy init" if(this.__vmf_prop_$prop.name==null)

    // return the collection
    return this.__vmf_prop_$prop.name;
#end##                                                                                    COLLECTION PROP