#if($prop.propType == "COLLECTION" && !$prop.contained && $prop.crossRefProperty)##      COLLECTION PROP
    // this property holds a collection of objects which are (cross-)referenced as
    // indicated by the @Refers annotation (see model type ${type.typeName})

    // perform lazy initialization
    if(this.__vmf_prop_$prop.name==null) {
      this.__vmf_prop_$prop.name = ${VCOLL_PKG}.VList.newInstance(new java.util.ArrayList<>());

###if($prop.type||$prop.genericType)
###end## if is model type
    } // end of "lazy init" if(this.__vmf_prop_$prop.name==null)

    // return the collection
    return this.__vmf_prop_$prop.name;
#end##                                                                                    COLLECTION PROP