#if($prop.propType != "COLLECTION" && $prop.container && !$prop.contained && !$prop.crossRefProperty)
#if(!${prop.containmentInfo.opposite})
ERROR: THIS SHOULD NOT HAPPEN (INTERNAL VMF CODE GENERATION BUG). 
ERROR: NOTIFY VMF DEVS (https://github.com/miho/VMF/issues). 
ERROR: @DEVS: ONLY USE THIS 'setter-no-collection-container' FOR PROPERTIES WITH OPPOSITE.
#end
  // ----------------------------------------
  // return early if identical container value has been set
  // ----------------------------------------
  if (
       this._vmf_getContainer()           == ${prop.name}
    && this._vmf_getContainerPropertyId() == ${prop.propId}
  ) {
    return;
  }
  // ----------------------------------------

  if(${prop.name}==null) {
    // ----------------------------------------
    // unregister this from current container
    // ----------------------------------------  
    this._vmf_unregisterFromContainers();   
  } else {
    // ----------------------------------------
    // (un)register this from/with old/new container
    // ----------------------------------------
  #if(${prop.containmentInfo.opposite.propType} != "COLLECTION")## collection opposite
    ${prop.name}.set${prop.containmentInfo.opposite.nameWithUpperCase}(this);
  #else##                                                       ## collection opposite
    ${prop.name}.get${prop.containmentInfo.opposite.nameWithUpperCase}().add(this);
  #end##                                                        ## collection opposite
  }  
  // ----------------------------------------

#end