#if($prop.propType != "COLLECTION" && !$prop.container && !$prop.contained && !$prop.crossRefProperty)
  // this property holds a regular reference
  // -> neither a container nor contained nor cross-referenced

  // ----------------------------------------
  // return early if identical value has been set
  // ----------------------------------------
#if(
    (${prop.typeName}=="boolean")
  ||(${prop.typeName}=="byte")
  ||(${prop.typeName}=="char")
  ||(${prop.typeName}=="short")
  ||(${prop.typeName}=="int")
  ||(${prop.typeName}=="long")
  ||(${prop.typeName}=="float")
  ||(${prop.typeName}=="double")
)
  // check for value changes: primitive value (using '==')
  // type: ${prop.typeName}
  if (this.__vmf_prop_${prop.name} == ${prop.name}) {
    return;
  }
#else
  // check for value changes: regular object value (using equals)
  // type: ${prop.typeName}
  if ((this.__vmf_prop_${prop.name} == null)? ${prop.name} == null : this.__vmf_prop_${prop.name}.equals(${prop.name})) {
    return;
  }
#end  
  // ----------------------------------------

  // ----------------------------------------
  // set the new value
  // ----------------------------------------
  ${prop.typeName} oldValue = this.__vmf_prop_${prop.name};
  this.__vmf_prop_${prop.name} = ${prop.name};
  // ----------------------------------------

  // ----------------------------------------
  // fire property changed event
  // ----------------------------------------
  this._vmf_firePropertyChangeIfListenersArePresent("${prop.name}", oldValue, this.__vmf_prop_${prop.name});
  //this._vmf_firePropertyChangeIfListenersArePresent("${oppositeRefProp.name}", refOldVal, null, ${VMFPKG_INT}.ChangeInternal.CHANGE_TYPE_CROSS_REF);
  // ----------------------------------------
#end