// --------------------------------------------------------------------
// --- declaration of delegation variables
// --------------------------------------------------------------------

#foreach( $delegate in ${type.implementation.delegationsOneForEachType})
  private $delegate.fullTypeName $delegate.varName;
#end
