// --------------------------------------------------------------------
// --- declaration of delegation methods
// --------------------------------------------------------------------

#foreach( $delegate in ${type.implementation.delegations})
  $delegate.methodDeclaration {

    if($delegate.varName==null) {
      $delegate.varName = new ${delegate.fullTypeName}();
      ${delegate.varName}.setCaller(this);
    }

    #if(!${delegate.isVoid()})return#end $delegate.varName.${delegate.methodName}(#foreach($p in ${delegate.paramNames})$p#if($foreach.hasNext), #end#end);
  }

#end## for each delegate
